@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply flex h-full cursor-pointer items-center justify-center border-t-4 border-transparent text-2xl text-gray-400 bp:h-auto bp:border-r-4 bp:border-t-0 [&.active]:border-[var(--color-main)] [&.active_path]:text-[var(--color-main)];
  }
}

:root {
  --color-main: #4eac6d;
  --color-main-dark: #48a367;

  --color-chat: #4eac6d3b;

  --color-bg: #ffffff0d;

  --bs-sidebar-bg: #2e2e2e;
  --bs-sidebar-menu-item-active-color: #4eac6d;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border: 1px solid white;
  border-left: 5px solid white;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

*,
*::after,
*::before {
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}
