@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply flex h-full cursor-pointer items-center justify-center border-t-4 border-transparent px-2 text-2xl text-gray-400 max-[400px]:text-xl bp:h-auto bp:border-r-4 bp:border-t-0 bp:px-0 [&.active]:border-[var(--color-main)] [&.active_path]:text-[var(--color-main)];
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  .shadow-y-1 {
    box-shadow:
      0px 40px 50px 0px #444 inset,
      0px -30px 50px 0px #444 inset,
      0px 0px 5px #444;
  }
}

:root {
  --color-main: #4eac6d;
  --color-main-op: #4eac6d7d;
  --color-main-dark: #48a367;

  --color-chat: #4eac6d3b;

  --color-bg: #ffffff;

  --dark-bg: #2e2e2e;
  --dark-head-bg: #2e2e2e2e;
  --darker-bg: #262626;
  --bs-sidebar-menu-item-active-color: #4eac6d;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border: 1px solid white;
  border-radius: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

*,
*::after,
*::before {
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}
